$icon-font-path: '/fonts/';

$primary-color: #ef5411;
$select-color: fade-out($primary-color, .3);
$white: #fff;
$dark-gray: #4a4a4a;
$gray: #999;
$light-gray: #979797;

// Bootstrap variable overrides
$page-header-border-color: $primary-color;
$alert-success-bg: transparent;
$alert-info-bg: transparent;
$alert-warning-bg: transparent;
$alert-danger-bg: transparent;

@import 'bootstrap';
@import '../../../node_modules/selectize/dist/css/selectize.bootstrap3';
@import 'peacock.css';
@import 'algolia';
@import 'admin';
@import 'pages';
@import 'posts';
@import 'projects';
@import 'series';
@import 'tags';

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('/fonts/bebas-neue-bold.eot');
  src: url('/fonts/bebas-neue-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebas-neue-bold.woff') format('woff'),
    url('/fonts/bebas-neue-bold.ttf') format('truetype'),
    url('/fonts/bebas-neue-bold.svg#bebas_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('/fonts/bebas-neue-regular.eot');
  src: url('/fonts/bebas-neue-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebas-neue-regular.woff') format('woff'),
    url('/fonts/bebas-neue-regular.ttf') format('truetype'),
    url('/fonts/bebas-neue-regular.svg#bebas_neue_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  border-top: 3px solid $primary-color;
}

a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 20%);
  }
}

.page-header,
.page-header h3 {
  margin-top: 0;
}

::selection {
  background: $select-color;
}

::-moz-selection {
  background: $select-color;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: $primary-color;
  border-color: darken($primary-color, 10%);
}

.pagination > li > a,
.pagination > li > span {
  color: $primary-color;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: $primary-color;
}

.shards { height: 100px; }

header {
  h1 {
    font-family: 'Bebas Neue Bold';
    font-size: 50px;
    margin: 10px 0;

    a,
    a:hover {
      color: $dark-gray;
    }
  }

  h2 {
    color: $primary-color;
    font-family: 'Bebas Neue Regular';
    font-size: 22px;
    margin: 0;
  }

  .author {
    @extend .text-muted;
    font-family: 'Bebas Neue Regular';
    font-size: 18px;
  }

  @media (min-width: 760px) {
    h1,
    h2,
    .author {
      text-align: right;
    }
  }
}

.menu {
  padding: 0;

  li {
    display: inline-block;
    font-family: 'Bebas Neue Regular';
    list-style-type: none;
    margin: 5px 0;

    a,
    a:hover,
    a:active {
      color: $light-gray;
      display: inline-block;
      font-size: 20px;
      padding: 5px 10px;
      text-decoration: none;
      transition: padding .5s;
    }

    // Active navigation elements get a similar, but darker, background.
    &.active {
      background: $primary-color;

      a,
      a:hover,
      a:active {
        color: $white;
      }

      &:after {
        content: '';
        background: $primary-color;
        bottom: 0;
        position: absolute;
        right: 100%;
        top: 0;
        width: 9999px;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu {
    li {
      display: block;
      position: relative;
      text-align: right;

      a {
        padding: 5px 0;
        width: 100%;
      }

      &.active a {
        padding-right: 5px;
      }

      // Get a nice light background when hovering over the navigation items.
      &:hover {
        background: lighten($primary-color, 20%);

        a,
        a:hover,
        a:active {
          color: $white;
          padding-right: 5px;
        }

        &:after {
          content: '';
          position: absolute;
          background: lighten($primary-color, 20%);
          top: 0;
          bottom: 0;
          width: 9999px;
          right: 100%;
        }
      }
    }
  }
}

h3,
h4,
p {
  color: $dark-gray;
  font-family: 'Avenir Next', sans-serif;
}

h3,
h4 {
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p.lead {
  font-size: 18px;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

footer {
  color: $light-gray;
  font-size: 12px;
  border-top: 1px solid $primary-color;
  padding-top: 15px;
  margin-top: 15px;
}
